* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.91);
    font-size: 20px;
}

.navbar {
    background: rgb(162, 3, 75);
    height: 100px;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    padding: 12px;
}

.navcontainer ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.navlogo {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.header {
     background:rgb(162, 3, 75);
     height: 300px;
}

.headercontainer {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 12px;
}

.headercontainer img {
    max-width: 350px;
    border-radius: 4px;
}

.headertext h1 {
    font-size: 48px;
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
}

.headertext p {
    max-width: 250px;
    color: rgba(255, 255, 255, 0.858);
    font-weight: bold;
    margin: 10px;
}

.headerbutton {
    color: white;
    background-color: rgb(255, 4, 117);
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.information {
    background: white;
    height: 350px;
}

.infocontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    padding: 12px;
    max-width: 1000px;
}

.image1,
.image2,
.image3,
.image4 {
    clip-path: circle(40%);
    border: 2px solid rgb(255, 255, 255);
    max-width: 220px;
}

.infoimages {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.infotext {
    display: flex;
    justify-content: center;
    color: rgb(255, 33, 155);
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.quote {
    background:rgb(255, 33, 155);
    height: 400px;
    display: flex;
    align-items: center;
}

.quotecontainer {
    display: flex;
    margin: 0 auto;
    max-width: 850px;
    flex-direction: column;
    align-items: flex-end;;
}

.quotetext p {
    font-size: 40px;
    color: white;
}

.author {
    color: rgb(162, 3, 75);
    font-size: 18px;
}

.signup {
    height: 375px;
    display: flex;
    align-items: center;
}

.signupcontainer {
    display: flex;
    margin: 0 auto;
    max-width: 850px;
    justify-content: center;
}

.textboxcontainer {
    background: rgb(255, 4, 117);
    width: 950px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.actiontext h4 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.actiontext p {
    color: white;
}

.footerbutton {
    color: white;
    background-color: rgb(255, 4, 117);
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid white;
}

.footer {
    background:rgb(162, 3, 75);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footertext {
    color: white;
}